[Desktop Entry]
Type=Application
Name=Install DeskDrop Receiver Autostart
Comment=Start the file receiver automatically after login
Terminal=false
Exec=gtk-launch deskdrop-install-receiver-autostart
Categories=Utility;
