[Desktop Entry]
Type=Application
Name=Remove DeskDrop Autostart
Comment=Disable DeskDrop automatic startup
Terminal=false
Exec=gtk-launch deskdrop-remove-autostart
Categories=Utility;
