[Desktop Entry]
Type=Application
Name=Start DeskDrop
Comment=Start the local file receiver
Terminal=false
Exec=gtk-launch deskdrop
Categories=Utility;
